@font-face {
  font-family: Charter;
  src: local("Charter"),
       url(../fonts/charter_regular.woff) format('woff');
}

@font-face {
  font-family: Charter;
  src: local("Charter Italic"),
       url(../fonts/charter_italic.woff) format('woff');
  font-style: italic;
}

@font-face {
  font-family: Charter;
  src: local("Charter Bold"),
       url(../fonts/charter_bold.woff) format('woff');
  font-weight: bold;
}

@font-face {
  font-family: Charter;
  src: local("Charter Bold Italic"),
       url(../fonts/charter_bold_italic.woff) format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Cooper Hewitt;
  src: local("Cooper Hewitt Medium"),
       url(../fonts/cooper-hewitt_medium.woff) format('woff');
}

@font-face {
  font-family: Cooper Hewitt;
  src: local("Cooper Hewitt Bold"),
       url(../fonts/cooper-hewitt_semibold.woff) format('woff');
  font-weight: bold;
}

@font-face {
  font-family: Iosevka;
  src: local("Iosevka"),
       url(../fonts/iosevka-regular.woff) format('woff');
}

@font-face {
  font-family: Iosevka;
  src: local("Iosevka-Bold"),
       url(../fonts/iosevka-bold.woff) format('woff');
  font-weight: bold;
}

@font-face {
  font-family: Iosevka;
  src: local("Iosevka-Italic"),
       url(../fonts/iosevka-italic.woff) format('woff');
  font-style: italic;
}

body {
  /*font-family: IBM Plex Serif;*/
  font-family: Charter;
  font-size: 22px;
  color: black;

  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

}

@media (max-width: 480px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 768px) and (min-width: 480px) {
  body {
    font-size: 18px;
  }
}

@media (max-width: 1280px) and (min-width: 768px) {
  body {
    font-size: 20px;
  }
}

pre code {
  word-wrap: normal;
  font-size: 18px;
}

code {
  font-family: Iosevka;
  
}

@media (max-width: 480px) {
  pre code {
    font-size: 12px;
  }
}

@media (max-width: 768px) and (min-width: 480px) {
  pre code {
    font-size: 14px;
  }
}

@media (max-width: 1280px) and (min-width: 768px) {
  pre code {
    font-size: 16px;
  }
}

article p {
  padding-left: 16px;
  padding-right: 16px;
}

h1 {
  font-size: 24px;
}

h2 {
  margin-top: 3rem;
  font-size: 22px;
}

h3 {
  font-size: 20px;
  margin-top: 24px;
}

.level3 > p:first-of-type {
  margin-top: 8px;
}

h4 {
  margin-top: 24px;
}

.level4 > p:first-of-type {
  margin-top: 4px;
}

h4, h5, h6 {
  font-size: 18px;
}

@media (max-width: 480px) {
  h1 {
    font-size: 18px;
  }
  
  h2 {
    margin-top: 3rem;
    font-size: 16px;
  }
  
  h3 {
    font-size: 14px;
    margin-top: 24px;
  }
  
  h4, h5, h6 {
    font-size: 14px;
  }
}

@media (max-width: 768px) and (min-width: 480px) {
  h1 {
    font-size: 20px;
  }
  
  h2 {
    margin-top: 3rem;
    font-size: 18px;
  }
  
  h3 {
    font-size: 16px;
    margin-top: 24px;
  }
  
  h4, h5, h6 {
    font-size: 16px;
  }
}

@media (max-width: 1280px) and (min-width: 768px) {
  h1 {
    font-size: 22px;
  }
  
  h2 {
    margin-top: 3rem;
    font-size: 20px;
  }
  
  h3 {
    font-size: 18px;
    margin-top: 24px;
  }
  
  h4, h5, h6 {
    font-size: 18px;
  }
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: IBM Plex Sans; */
  font-family: Cooper Hewitt;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
  padding-left: 16px;
  padding-right: 16px;
}

article ul, ol {
  margin-left: 16px;
  margin-right: 16px;
}

article .level1 h1:first-child {
  margin-top: 0;
}

.site-header {
  -webkit-box-shadow: 0 1px 3px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(57, 63, 72, 0.3);
  box-shadow: 0 1px 3px rgba(57, 63, 72, 0.3);

  /* font-family: IBM Plex Sans; */
  font-family: Cooper Hewitt;
  font-weight: 700;
}

.toc {
  font-size: 14px;

  padding-top: 24px;

  /* font-family: IBM Plex Sans; */
  font-family: Cooper Hewitt;
  font-weight: 500;
}

.toc h3 {
  color: #333;
}

.toc ul {
  padding-left: .9375rem;
}

@media (min-width: 768px) {
  .toc > ul {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .toc h1, .toc h2 {
    padding-left: 0.9375rem;
  }
}

.toc li {
  list-style: none;
}

.toc li a {
  color: #777;
}

.toc > ul > li > a {
  color: #333;
  font-size: 16px;
}

.toc > ul > li > ul > li {
  margin-top: .5rem!important;
}


/* header */
.site-header {
  position: fixed;
  width: 100%;
  background: white;
  padding-top: 15px;
  top: 0;
  left: 0;
}

/* desktop aside */
.site-aside-desktop-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  /* padding-top: 54px; */
  top: 0;
  left: 0;
}

/* mobilde aside */
.site-aside-toggle-button {
  display: inline-block;
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  padding: 15px;
  margin-bottom: 16px;
  width: 100%;
  background:white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  line-height: 1px;
}

.site-aside-mobile-wrapper {
  display: block;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 75%;
  padding-top: 54px;
  margin-left: -100%;
  transition: margin-left 300ms;
}

#site-aside-toggle-checkbox:checked ~ .site-aside-mobile-wrapper {
  margin-left: 0;
}

/* menu list */
.site-menu-list {
  padding-bottom: 15px;
}

.site-menu-list,
.site-menu-list ul {
  list-style: none;
  padding-left: 15px;
}

.site-aside-mobile-wrapper .site-menu-list {
  margin-left: 15px;
  margin-right: 15px;
  padding-right: 15px;
}

/* article */
.site-article-wrapper {
  margin-top: 54px;
  overflow: hidden;
}

/* text-plain */
.site-text-plain {
  font-weight: normal;
}

a.site-text-plain {
  color: #777;
  text-decoration: none;
}

a.site-text-plain:hover,
a.site-text-plain.site-side-title,
a.site-text-plain.current {
  color: #333;
}

a.site-text-plain.current {
  font-weight: 600;
}

/* z-index */
.site-header {
  z-index: 10;
}

.site-article {
  z-index: 1;
}

@media (max-width: 768px) {
  .site-article {
    padding-top: 1.5rem;
  }
}

.site-aside-mobile-wrapper {
  z-index: 20;
}

.site-aside-toggle-button {
  z-index: 30;
}

.site-aside-toggle-button img {
  padding-left: 16px;
}

/* utils */
.site-height-0 {
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.site-height-100 {
  height: 100%;
}

.site-padding-bottom-0 {
  padding-bottom: 0;
}

.site-link-faded {
  opacity: 0.7;
}

.site-link-faded:hover {
  opacity: 1;
}

.site-box {
  border: 1px solid hsla(120, 40%, 55%, 0.3);
  background-color: hsla(120, 40%, 55%, 0.15);
}

.katex { font-size: 1em !important; }