<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/tufte.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/index.css">
  
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700|Alegreya+Sans:400,700|Alegreya:400,400i,700" rel="stylesheet"> 
  
  <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>

</head>
