//$custom-font-size: 20px;

$font-family-sans-serif: 'Fira Sans', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
//$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
//$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
//$font-family-base:       $font-family-monospace;

//$font-size-base: 3rem !default; // Assumes the browser default, typically `16px`

$container-max-widths: (
  sm: 540px,
  md: 600px,
  lg: 600.00001px,
  xl: 600.00002px
);

$primary: #024855;
$jumbotron-bg: #D8F7F4;

@media screen and (max-width: 540px) {
    $display3-size: 2.5rem;
}

@import "../assets/vendor/bootstrap/scss/functions";
@import "../assets/vendor/bootstrap/scss/variables";