---
---

@import "variables";
@import "../assets/vendor/bootstrap/scss/bootstrap";

body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.card-block {
	padding: 2em;
}

@media screen and (max-width: 540px) {

	.display-3 {
		font-size: 2.5rem;
	}

    .btn-primary {
    	margin-top: 1em;
    }
}